Learning About Operators

In [6]:
# Arithmetic Operators Example
a = 10
b = 5
add=a+b
print("Addition:", add)

Substract=a-b
print("Subtraction:", Substract)

multiply=a*b
print("Multiplication:", multiply)

divide=a/b
print("Division:", divide)  

floor_division=a//b
print("Floor Division:", floor_division)

modulus=a%b
print("Modulus:", modulus)

exponentiation=a**b
print("Exponentiation:", exponentiation)

Addition: 15
Subtraction: 5
Multiplication: 50
Division: 2.0
Floor Division: 2
Modulus: 0
Exponentiation: 100000

### Comparision Operator

In [12]:
#comparison operators example
## == Equal to
a=10
b=10
a == b
## != Not equal to
a != b

False

In [15]:
str1="Hello"
str2="Hello"
str1==str2

True

In [16]:
str3="Hello"
str4="World"
str3 != str4  # This will return True because the strings are not equal

True

In [ ]:
#greater than
num1=45
num2=55
num1 > num2  # This will return False because 45 is not greater than 55

True

In [ ]:
#less than
num1 < num2

True

In [21]:
#greater than or equal to
num1 = 10   
num2 = 20
num1 >= num2  # This will return False because 10 is not greater than or equal to 20

False

In [ ]:
#less than or equal to
num1 <= num2

True

### Logical Operators ( And,Not, OR)

In [ ]:
## And, Not, OR
# Example of logical operators
x=True
y=True
z=False
# Using 'and' operator
result_and = x and y 
result_and1= x and z
print("Result of 'and' operator:", result_and)  # This will return True because both x and y are True
print("Result of 'and' operator with one False:", result_and1)  # This will return False because z is False

# Using 'OR' operator       
result_or= x or y
result_or1= x or z
print("Result of 'or' operator:", result_or)  # This will return True because at least one of x or y is True
print("Result of 'or' operator with one False:", result_or1)  # This will return True because x is True

Result of 'and' operator: True
Result of 'and' operator with one False: False
Result of 'or' operator: True
Result of 'or' operator with one False: True

In [30]:
#Not operator
result_not = not x
result_not1 = not z
print("Result of 'not' operator on x:", result_not)  # This will return False because x is True
print("Result of 'not' operator on y:", result_not1)  # This will return True because z is False

Result of 'not' operator on x: False
Result of 'not' operator on y: True

In [31]:
##simple calculater
num1=float(input('enter first number:'))
num2=float(input('enter second number:'))
sum=num1+num2
difference=num1-num2
product=num1*num2       
quotient=num1/num2
print("Sum:", sum)
print("Difference:", difference)    
print("Product:", product)
print("Quotient:", quotient)

Sum: 30.0
Difference: -10.0
Product: 200.0
Quotient: 0.5